@model IEnumerable<MedikalSenter.Models.Patient>
@*//lep//notice,
modelItem is inumeralble, 
model is parameter,
item is local variable*@
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpYrVisits)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Phone)*@
                @Html.DisplayNameFor(model => model.MedicalTrial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientConditions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpYrVisits)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.PhoneFormatted)*@
                   @* @Html.DisplayFor(modelItem => item.MedicalTrial.TrialName)*@
                    @Html.DisplayFor(modelItem => item.InMedicalTrial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @foreach (var condi in item.PatientConditions)
                {
                @condi.Condition.ConditionName<br />
                }
            </td>
            <td>
               
                @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
